@import "./assets/css/home.css";
@import "./assets/css/responsive.css";
@import "./assets/css/utils.css";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    right: 100%;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
}

